<h1>Place Details: </h1>

<h2>@Model.GetCityName()</h2>
<p>Stay Length: @Model.GetStayLength()</p>
<p>@Model.GetJournalEntry()</p>

<a href='/places/new'>Add another item</a>
<a href='/places'>View all items</a>